@model IEnumerable<Book>

@{
    ViewData["Title"] = "Loan";
}

<h2>Available Books for Loan <i class="fa fa-book"></i></h2>

@if (!Model.Any())
{
    <p>SORRY!!!!! ADD BOOKS FOR LOAN.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>About</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Titel</td>
                    <td>@book.Author</td>
                    <td>@book.About</td>
                </tr>
            }
        </tbody>
    </table>
}
